<!DOCTYPE html>
<html>
<head>
	<title>ajax捕获错误异常demo</title>
	<meta charset="utf-8">
	<script type="text/javascript">
	  function show_success(msg){
	  	alert("success:"+msg);
	  }
	  function show_error(msg){
	  	alert("error:"+msg);
	  }
	</script>
</head>
<body>

<script type="text/javascript">
$(function(){
	$.ajax({
		url:"<{:U('Index/Index')}>",
		data:{a:2},
		type:'get',
		dataType:'json',
		success:function(rec){
			show_success(rec.msg);
		},
		error:function(rec){
			show_error(rec.msg);
		}
	});
});
</script>
</body>
</html> 